{% extends 'admin/change_form.html' %}
{% load soma_extras %}

{% block extrahead %}
  {{ block.super }}
  {{ date_range_form.media }}
{% endblock %}


{%block content%}
  {{ block.super }}
  <h2>Зарплата за період</h2>
  <form method="get" path="{{ request.get_full_path }}">
     {{ date_range_form }}
    <input type="submit" value="Оновити"/>
  </form>

  {% for class_ in salary %}
    <table class="table mt-4">
      <caption>{{ class_.name }}: {{ class_.sum_teachers_share }} грн</caption>
      <thead>
        <tr>
          <th scope="col">Дата</th>
          {% for payment_method in class_.possible_payments.values %}
            <th scope="col">{{ payment_method.name }}</th>
          {% endfor %}
          <th scope="col">Всього</th>
        </tr>
      </thead>
      <tbody>
        {% for unit_payments in class_.unit_payments %}
          <tr>
            <th scope="row">{{unit_payments.class_unit.date}}</th>
            {% for payment_id in class_.possible_payments %}
              <td>{{ unit_payments.payment_counts|get_item:payment_id }}</td>
            {% endfor %}
            <td>{{ unit_payments.sum_teachers_share }}</td>
          </tr>
        {% endfor %}
      </tbody>

    </table>

  {% endfor %}

{% endblock %}